$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 1300px,
    xl: 1860px,
);
$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 1270px,
    xl: 1800px,
);

@mixin makeContainer(
    $max-widths: $container-max-widths,
    $breakpoints: $grid-breakpoints
) {
    width: 100%;
    margin: 0 auto;
    @each $breakpoint, $container-max-width in $max-widths {
        max-width: $breakpoint;
        @media (min-width: $container-max-width) {
            max-width: $container-max-width;
        }
    }
}

@mixin makeRow($gap: 30px) {
    display: flex;
    flex-wrap: wrap;
    gap: $gap;
} ;
