@import "/node_modules/reset-css/reset.css";
@import "https://fonts.googleapis.com/css2?family=Philosopher:wght@700&family=Roboto:wght@400;500;700&display=swap";
@import "./variables.scss";
@import "./mixins.scss";
@import "./grid/grid.scss";
@import "./grid/breakpoints.scss";

* {
  box-sizing: border-box;
}

html,
body {
  font-size: $BASE_FONT_SIZE;
  color: $TEXT_COLOR;
  font-family: $BASE_FONT;

  @include media-breakpoint-down(lg) {
    font-size: 11px;
  }

  @include media-breakpoint-down(md) {
    font-size: 8px;
  }

  @include media-breakpoint-down(sm) {
    font-size: 11px;
  }
}

img {
  display: block;
}

input {
  border: none;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.link {
  color: inherit;
  transition: 0.2s ease-in-out;
  text-decoration: underline;

  &:hover {
    color: $PRIMARY_COLOR;
  }
}

.row {
  @include make-row();
}

.page {
  background-image: url("/src/assets/images/background.png");
  min-height: 100vh;
  background-size: 100%;
  background-color: #171717;
  background-position: center 165px;
}

.header {
  @include getRemSize(padding-top, 28px);
  @include getRemSize(padding-bottom, 17px);
  background-color: #181a19;
  border-bottom: solid 2px #212323;
  box-shadow: 0px 7px 16px 0px rgba(0, 0, 0, 0.25);
  @include getRemFontSize(18px);
  position: relative;

  &__content {
    @include make-container-max-widths();
    @include make-container();
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    @include getRemFontSize(12px);
    @include getRemSize(width, 157px);

    &-text {
      @include media-breakpoint-down(md) {
        display: none;
      }
    }
  }

  &__nav {
    flex-shrink: 0;
    @include getRemSize-2val(margin, 0px, 25px);

    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  &__search {
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    border-radius: 93px;
    overflow: hidden;
    border: solid 2px #252a2c;
    position: relative;
    max-width: 716px;

    @include media-breakpoint-down(md) {
      display: none;
    }

    &-input {
      width: 100%;
      @include getRemSize-2val(padding, 22px, 30px);
      @include getRemFontSize(18px);
      color: #6d7a7c;
      appearance: none;
      background-color: #1b1e1e;
      outline: none;
      appearance: none;
    }

    &-icon {
      position: absolute;
      right: 22px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      @include getRemSize(width, 29px);

      img {
        width: 100%;
      }
    }
  }

  &__controls {
    display: none;

    @include media-breakpoint-down(md) {
      display: flex;
      align-items: center;
      gap: 20px;
    }
  }

  &__search-btn {
    width: 22px;
    flex-shrink: 0;
    cursor: pointer;
  }

  &__burger {
    width: 28px;
    padding: 7px 4px;
    border-radius: 5px;
    background-color: $PRIMARY_COLOR;
    cursor: pointer;
    flex-shrink: 0;

    &-line {
      height: 2px;
      background-color: #fff;
      margin-bottom: 5px;
      transition: 0.2s ease-in-out;

      &:nth-child(2) {
        width: 80%;
        margin-left: auto;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    &_opened &-line {
      &:nth-child(1) {
        transform: translateY(7px) rotate(45deg);
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:nth-child(3) {
        transform: translateY(-7px) rotate(-45deg);
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__mobile-nav {
    position: absolute;
    top: 100%;
  }

  &__mobile-search {
    position: absolute;
    top: 100%;
  }
}

.mobile-menu {
  z-index: -1;
  opacity: 0;
  transition: z-index 0.4s ease-in-out, opacity 0.4s ease-in-out;
  text-align: center;
  width: 100%;
  font-size: 18px;
  background-color: #181a19;
  box-shadow: 0px 7px 16px 0px rgba(0, 0, 0, 0.25);

  &_opened {
    z-index: 3;
    opacity: 1;
  }

  &__container {
    @include make-container-max-widths();
    @include make-container();
  }

  &__list {
    padding: 30px 0;
    border-top: 2px solid #212323;
    border-bottom: 2px solid #212323;
  }

  &__item {
    margin-bottom: 12px;
    cursor: pointer;
    transition: 0.2s ease-in-out;

    &:hover {
      color: $PRIMARY_COLOR;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__socials {
    padding: 15px 0;
  }

  .header__search {
    display: block;
    max-width: none;
    margin: 20px 0;
  }
}

.menu {
  display: flex;
  @include getRemSize(gap, 30px);

  &__item {
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
      color: $PRIMARY_COLOR;
    }

    &_has-sub {
      position: relative;

      &:hover {
        color: inherit;
      }
    }
  }

  &__sub-menu {
    position: absolute;
    z-index: 2;
    opacity: 0;
    @include getRemSize(top, 46px);
    padding: 20px;
    border-radius: 5px;
    background: rgba(28, 29, 31, 0.5);
    border: 1px solid #2b2b2b;
    box-shadow: 0px 7px 16px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    transition: opacity 0.5s ease-in-out;
    display: none;

    &_hovered {
      opacity: 1;
    }

    .menu {
      &__item {
        margin-top: 10px;
      }
    }
  }
}

.logo {
  display: inline-block;
  text-align: center;

  &__img {
    width: 100%;
  }

  &__text {
    @include getRemSize(margin-top, 8px);
    color: $PRIMARY_COLOR;
  }
}

.main {
  @include make-container-max-widths();
  @include make-container();
  @include getRemSize(margin-top, 30px);
  position: relative;

  &__content {
    @include make-row();
  }
}

.breadcrumbs {
  @include getRemFontSize(18px);

  &__item {
    transition: all 0.2s ease-in-out;

    &:hover {
      color: $PRIMARY_COLOR;
    }

    &:last-child {
      &:hover {
        color: inherit;
      }
    }
  }
}

.section {
  @include make-col(9);
  @include make-col-ready();
  @include getRemSize(padding-bottom, 120px);

  @include media-breakpoint-down(md) {
    @include make-col(12);
  }

  @include media-breakpoint-down(sm) {
    padding-bottom: 20px;
  }
}

.banner {
  @include getRemSize(padding-bottom, 20px);
  position: relative;

  &__block {
    position: relative;
  }

  &__breadcrumbs {
    background-color: rgba(#161a19, 0.35);
    @include getRemSize(padding, 20px);
    position: absolute;
    width: 100%;
    top: 0;
  }

  &__img {
    border: 2px solid #2b2b2b;
    position: relative;
    box-shadow: 0px 7px 16px 0px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    overflow: hidden;

    @include media-breakpoint-down(sm) {
      height: 300px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(#000, 0.2);
    }
  }

  &__title {
    font-family: "Philosopher";
    @include getRemFontSize(65px);
    position: absolute;
    top: 50%;
    @include getRemSize(left, 100px);
    transform: translateY(-50%);
  }

  &__text {
    @include getRemSize(margin-top, 40px);
    @include getRemFontSize(20px);
  }
}

.compilation {
  @include getRemSize(margin-top, 60px);

  &__title {
    @include getRemFontSize(40px);
    @include getRemSize(padding-bottom, 30px);
    border-bottom: 2px solid $PRIMARY_COLOR;
  }

  &__content {
    @include getRemSize(margin-top, 40px);
    display: flex;
    @include getRemSize(gap, 30px);
    flex-wrap: wrap;
    position: relative;
  }

  &__movie {
    width: calc((100% - 4 * 30px) / 5);
  }
}

.rating-tiny {
  display: flex;
  @include getRemSize(margin-top, 10px);
  @include getRemSize(height, 34px);

  &:hover &__value {
    @include getRemSize(padding-left, 15px);
  }

  &__value {
    @include getRemSize(font-size, 18px);
    @include getRemSize-2val(padding, 7px, 6px);
    @include getRemSize(line-height, 20px);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: padding 0.3s ease-in-out;
  }

  &_kp &__value {
    background-color: #e16001;
  }

  &_imdb &__value {
    background-color: #d49f31;
  }
}

.aside {
  @include make-col(3);
  @include make-col-ready();
  @include getRemFontSize(20px);
  padding-bottom: 50px;

  @include media-breakpoint-down(md) {
    @include make-col(8);
    @include make-col-offset(4);
  }

  @include media-breakpoint-down(sm) {
    @include make-col(12);
    @include make-col-offset(0);
  }

  &__block {
    @include getRemSize(margin-top, 30px);
    border: 1px solid #2b2b2b;
    border-radius: 5px;
    background-color: rgba(#1c1d1f, 0.5);
    filter: drop-shadow(0px 7px 16px rgba(0, 0, 0, 0.25));

    &-header {
      @include getRemFontSize(22px);
      @include getRemSize-2val(padding, 18px, 20px);
      background-color: #212121;
      border-bottom: 1px solid #2b2b2b;
    }

    &_no-margin {
      margin-top: 0;
    }
  }

  &__content {
    position: relative;
  }
}

.similar-collections {
  &__item {
    @include getRemSize(padding, 15px);
    display: flex;
    align-items: center;
    border-bottom: 1px solid #2b2b2b;

    &:hover {
      .similar-collections {
        &__item {
          &-img {
            transform: scale(1.1);
          }

          &-title {
            color: $PRIMARY_COLOR;
          }
        }
      }
    }

    &-img {
      display: block;
      @include getRemSize(margin-right, 15px);
      @include getRemSize(width, 92px);
      flex-shrink: 0;
      border: 1px solid #2b2b2b;
      border-radius: 5px;
      transition: 0.2s ease-in-out;
    }

    &-date {
      display: flex;
      align-items: center;
      @include getRemSize(margin-bottom, 10px);

      &-icon {
        @include getRemSize(margin-right, 10px);
        flex-shrink: 0;
      }

      @include getRemFontSize(16px);
      color: #a4a4a4;
    }

    &-text {
      @include getRemSize(margin-top, 10px);
    }

    &-title {
      transition: 0.2s ease-in-out;
    }
  }
}

.popular-collections {
  font-weight: 500;
  @include getRemFontSize(18px);

  &__item {
    @include getRemSize(min-height, 545px);
    @include getRemSize(padding, 20px);
    @include getRemSize(padding-top, 130px);
    position: relative;

    * {
      position: relative;
      z-index: 1;
    }
  }

  &__poster {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__title {
    width: 50%;
    @include getRemFontSize(36px);
  }

  &__button {
    display: inline-block;
    @include getRemSize(border-radius, 50px);
    @include getRemSize(margin-top, 20px);
    background-color: $PRIMARY_COLOR;
    @include getRemSize-2val(padding, 13px, 33px);
    transition: 0.2s ease-in-out;

    &:hover {
      transform: scale(1.05);
    }
  }
}

.movie {
  &__preview {
    @include make-col(4);
    @include make-col-ready();

    @include media-breakpoint-down(sm) {
      @include make-col(12);
      margin-bottom: 20px;
    }
  }

  &__overview {
    @include make-col(8);
    @include make-col-ready();

    @include media-breakpoint-down(sm) {
      @include make-col(12);
    }
  }

  &__poster {
    display: block;
    position: relative;
    border-radius: 5px;
    box-shadow: 0px 7px 16px 0px rgba(0, 0, 0, 0.14);
    border: 1px solid #2b2b2b;
    overflow: hidden;
    padding-bottom: 155.607476635514%;
    @include getRemSize(margin-bottom, 20px);

    > img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__title {
    transition: color 0.2s ease-in-out;
    @include getRemFontSize(40px);
    font-weight: 500;

    &:hover {
      color: $PRIMARY_COLOR;
    }
  }

  &__subtitle {
    @include getRemSize(margin-top, 15px);
    @include getRemFontSize(30px);
  }

  &__view-btn {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &-icon {
      margin: 0 auto;
      @include getRemSize(width, 100px);
      transition: 0.2s ease-in-out;
    }

    &-text {
      @include getRemSize(margin-top, 15px);
      @include getRemFontSize(20px);
      text-align: center;
    }
  }

  &__block {
    background-color: rgba(28, 29, 31, 0.5);
    @include getRemSize-2val(padding, 15px, 20px);
    border-radius: 5px;
    @include getRemSize(margin-top, 20px);
    border: 1px solid #2b2b2b;
    box-shadow: 0px 7px 16px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);

    &_opaque {
      background-color: #212121;
      box-shadow: none;
    }

    &_noPadding {
      padding: 0;
    }
  }

  &__content {
    @include getRemSize(margin-top, 20px);
  }

  &__info {
    display: flex;
    @include getRemFontSize(18px);
    @include getRemSize(line-height, 28px);
    @include getRemSize(gap, 50px);

    @include media-breakpoint-down(sm) {
      flex-direction: column;
    }

    &__title {
      font-weight: bold;
      @include getRemFontSize(20px);
    }

    &__text {
      @include getRemSize(margin-top, 10px);
    }

    &__row {
      @include getRemSize-2val(padding, 15px, 20px);
      border-top: 1px solid #2b2b2b;
      display: flex;

      &-title {
        @include getRemSize(width, 247px);
      }

      .link {
        @include getRemSize(margin-right, 10px);
      }
    }

    &_direction_vertical {
      flex-direction: column;
      gap: 0;
    }
  }

  &-desc {
    @include getRemFontSize(18px);

    &__footer {
      text-align: right;
      @include getRemSize(margin-top, 20px);
      @include getRemSize(margin-bottom, 10px);

      &-more {
        color: $PRIMARY_COLOR;
        text-decoration: underline;
        cursor: pointer;
      }
    }

    h6 {
      font-weight: medium;
      @include getRemFontSize(22px);
      @include getRemSize(margin-top, 5px);
      @include getRemSize(margin-bottom, 15px);
    }

    p {
      @include getRemSize(margin-bottom, 15px);
    }
  }

  &-rating {
    display: flex;
    justify-content: center;
    @include getRemSize(gap, 65px);
    @include getRemFontSize(16px);

    @include media-breakpoint-down(md) {
      @include getRemSize(gap, 40px);
    }

    &__item {
      @include getRemSize(width, 121px);
      @include getRemSize(height, 121px);
      flex-shrink: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      @include getRemSize(gap, 8px);
      border-radius: 50%;
      border: 4px solid #ff8e00;
      filter: drop-shadow(-6px -6px 12px #535353)
        drop-shadow(6px 6px 12px #000000);

      &_imbd {
        border-color: #e3ac3c;
      }
    }

    &__value {
      font-size: bold;
      @include getRemFontSize(28px);
    }

    &__name {
      font-weight: 500;
    }
  }

  &__rating-tiny {
    position: absolute;
    top: 0;
    z-index: 1;
  }

  &_tiny {
    .movie {
      &__title {
        @include getRemFontSize(22px);
      }

      &__subtitle {
        @include getRemFontSize(20px);
        @include getRemSize(margin-top, 10px);
      }

      &__view-btn {
        &-icon {
          @include getRemSize(width, 54px);
        }

        &-text {
          @include getRemSize(margin-top, 10px);
          @include getRemFontSize(14px);
        }
      }
    }
  }

  &_can-view &__poster {
    &::before {
      content: "";
      position: absolute;
      background-color: rgba(#000, 0.5);
      width: 100%;
      height: 100%;
      top: 0;
      z-index: 1;
    }

    &:hover {
      .movie {
        &__view-btn {
          &-icon {
            transform: scale(1.2);
          }
        }
      }
    }
  }
}

.top-movie {
  @include getRemSize(margin-top, 80px);

  &__pos {
    font-weight: 700;
    @include getRemFontSize(87px);
    color: #727272;
  }

  &__content {
    @include getRemSize(margin-top, -18px);
  }
}

.footer {
  @include make-container-max-widths();
  @include make-container();
  @include getRemSize(padding-top, 32px);
  color: #a8a8a8;
  @include getRemFontSize(18px);

  &__inner {
    @include make-row();
  }

  &__content {
    @include make-col(9);
    @include make-col-ready();
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    @include getRemSize(gap, 250px);

    @include media-breakpoint-down(md) {
      @include make-col(12);
    }

    @include media-breakpoint-down(sm) {
      justify-content: center;
    }
  }

  &__block {
    &-title {
      color: #fff;
      @include getRemSize(margin-bottom, 10px);
    }
  }

  &__menu {
    list-style: none;
    &-item {
      transition: 0.2s ease-in-out;
      @include getRemSize(line-height, 26px);

      &:hover {
        color: $PRIMARY_COLOR;
      }
    }
  }

  &__logo {
    @include getRemFontSize(21px);
    @include make-col(3);
    @include make-col-ready();

    @include media-breakpoint-down(md) {
      @include make-col(12);
      @include getRemSize(margin-bottom, 30px);
      text-align: right;
    }

    @include media-breakpoint-down(sm) {
      text-align: center;
    }

    &-content {
      @include getRemSize(width, 287px);
    }
  }

  &__bottom {
    @include getRemSize(margin-top, 20px);
    @include getRemSize-2val(padding, 12px, 0px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: solid #323232 1px;

    @include media-breakpoint-down(sm) {
      flex-direction: column-reverse;
      gap: 20px;
    }
  }

  &__policy {
    text-decoration: underline;
    transition: 0.2s ease-in-out;

    &:hover {
      color: $PRIMARY_COLOR;
    }
  }

  &__about {
    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
}

.socials {
  &__item {
    @include getRemSize(height, 60px);
    @include getRemSize(width, 60px);
    path,
    circle {
      transition: 0.2s ease-in-out;
    }

    &:hover {
      path {
        fill: $PRIMARY_COLOR;
      }

      circle {
        stroke: $PRIMARY_COLOR;
      }
    }
  }
}
