@import '/node_modules/reset-css/reset.css';
@import '/node_modules/bootstrap-4-grid/scss/grid.scss';
@import 'https://fonts.googleapis.com/css2?family=Philosopher:wght@700&family=Roboto:wght@400;500&display=swap';

$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 1300px,
    xl: 1860px
);
$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 1270px,
    xl: 1830px
);

$MAIN_COLOR: #81BECB;
$BASE_FONT_SIZE: 14px;
$BASE_FONT: 'Roboto';

html,
body {
    font-size: $BASE_FONT_SIZE;
    color: #fff;
    font-family: $BASE_FONT;
}

img {
    display: block;
}

input {
    border: none;
}

a {
    color: inherit;
    text-decoration: inherit;
}

@mixin getRemSize($fs) {
    font-size: $fs / $BASE_FONT_SIZE * 1rem;
    line-height: ($fs + 4) / $BASE_FONT_SIZE * 1rem;
}

.page {
    background-image: url('/src/assets/images/background.png');
    min-height: 100vh;
    background-size: 100%;
    background-color: #171717;
}

.header {
    padding-top: 28px;
    padding-bottom: 17px;
    background-color: #181A19;
    border-bottom: solid 2px #212323;
    box-shadow: 0px 7px 16px 0px rgba(0, 0, 0, 0.25);
    @include getRemSize(18px);

    &__content {
        @include make-container-max-widths();
        @include make-container();
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__nav {
        flex-shrink: 0;
        margin: 0 25px;
    }

    &__list {
        display: flex;

        &-item {
            cursor: pointer;
            margin-right: 30px;
            transition: all .2s ease-in-out;

            &:last-child {
                margin-right: 0;
            }

            &:hover {
                color: $MAIN_COLOR;
            }

            // &__expandable {

            // }
        }
    }

    &__search {
        flex-grow: 1;
        justify-content: space-between;
        align-items: center;
        border-radius: 93px;
        overflow: hidden;
        border: solid 2px #252A2C;
        position: relative;


        &-input {
            width: 100%;
            padding: 22px 30px;
            color: #6D7A7C;
            appearance: none;
            background-color: #1B1E1E;
            outline: none;
            appearance: none;
        }

        &-icon {
            position: absolute;
            right: 22px;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
        }
    }
}

.logo {
    display: inline-block;
    text-align: center;

    &__text {
        margin-top: 8px;
        color: $MAIN_COLOR;
        @include getRemSize(12px);
    }
}

.main {
    @include make-container-max-widths();
    @include make-container();
    margin-top: 30px;

    &__content {
        @include make-row();
    }
}

.breadcrumbs {
    @include getRemSize(18px);
    &__item {
        transition: all .2s ease-in-out;

        &:hover {
            color: $MAIN_COLOR;
        }

        &:last-child {
            &:hover {
                color: inherit;
            }
        }
    }
}

.section {
    @include make-col(9);
    @include make-col-ready();
}

.banner {
    padding-bottom: 20px;
    &__block {
        position: relative;
    }

    &__breadcrumbs {
        background-color: rgba(#161A19, .35);
        padding: 20px;
        position: absolute;
        width: 100%;
        top: 0;
        z-index: 1;
    }

    &__img {
        border: 2px solid #2B2B2B;
        position: relative;
        box-shadow: 0px 7px 16px 0px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        overflow: hidden;

        img {
            width: 100%;
            object-fit: cover;
        }

        &::after {
            content: '';
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(#000, .2)
        }
    }

    &__title {
        font-family: 'Philosopher';
        @include getRemSize(65px);
        position: absolute;
        width: 20%;
        top: 50%;
        left: 100px;
        transform: translateY(-50%);
    }

    &__text {
        margin-top: 40px;
        @include getRemSize(20px);
    }
}

.compilation {
    margin-top: 60px;
    &__title {
        @include getRemSize(40px);
        padding-bottom: 30px;
        border-bottom: 2px solid $MAIN_COLOR;
    }

    &__content {
        margin-top: 40px;
        display: flex;
        flex-wrap: wrap;
    }

    &__movie {
        margin-right: 30px;
        width: calc((100% - 4 * 30px) / 5);

        &:last-child {
            margin-right: 0;
        }
    }
}

.movie-tiny {
    &__img {
        position: relative;
        border-radius: 5px;
        box-shadow: 0px 7px 16px 0px rgba(0, 0, 0, .14);
        border: 1px solid #2B2B2B;
        overflow: hidden;

        img {
            width: 100%;
            object-fit: contain
        }
    }

    &__title {
        transition: color .2s ease-in-out;
        margin-top: 20px;
        font-weight: 500;
        @include getRemSize(22px);
    }

    &__about {
        margin-top: 10px;
        @include getRemSize(20px);
    }

    &__rating {
        position: absolute;
        top: 0;
    }

    &__viewBtn {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        &-text {
            margin-top: 10px;
            @include getRemSize(14px);
        }
    }

    &:hover 
        &__title {
            color: $MAIN_COLOR;
        }

    &_canView 
        &__img {
            &::before {
                content: '';
                position: absolute;
                background-color: rgba(#000, .5);
                width: 100%;
                height: 100%;
                top: 0;
            }
        }
}

.rating-tiny {
    display: flex;
    margin-top: 10px;
    
    &__value {
        @include getRemSize(18px);
        padding: 7px 6px;
        line-height: 20px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    &_kp 
        &__value {
            background-color: #E16001;
        }
    

    &_imdb &__value {
        background-color: #D49F31;
    }
}

.aside {
    @include make-col(3);
    @include make-col-ready();
}